#rowPrimeira{
  margin: 10px 50px 50px 50px;
}

#rowTerceira{
  margin-bottom: 10px;
}

#segundaRow{
  margin-top: 10px;
}

#rowQuarta{
  margin-top: 10px;
}

#rowSexta{
  margin-top: 10px;
}

#rowSetima{
  margin-top: 10px;
}

#rowOitava{
  margin-top: 10px;
}

#rowNona{
  margin-top: 10px;
}

#rowDecima{
  margin-top: 10px;
}

#cabecalho{
  margin-bottom: 10px;
}

.razaoSocial{
  display: none;
}

.nome{
  display: none;
}

.cpfSome{
  display: none;
}

.rgSome{
  display: none;
}

.cnpjSome{
  display: none;
}

.validadeInput{
  width: 280px;
  height: 58px;
}

#validadeDescritivo{
  font-size: 14px;
  padding-top: 0;
  padding-left: 2px;
}

.validadeDiv{
  border-color: gray;
  background-clip: padding-box;
  opacity: .50;
}

.descritivoCadastro{
  text-align: center;
}

#descritivoCadastro{
  margin: 0;
}

#tabels{
  max-width: 1210px;
  margin-bottom: 100px;
}
