body{
  max-width: 100%;
}

#rowPrimeira{
  max-height: 200px;
  margin: 10px 50px 700px 50px;
}

#rowTerceira{
  margin-bottom: 10px;
}

#segundaRow{
  margin-top: 10px;
}

#rowQuarta{
  margin-top: 10px;
}

#rowSexta{
  margin-top: 10px;
}

#rowSetima{
  margin-top: 10px;
}

#rowOitava{
  margin-top: 10px;
}

#rowNona{
  margin-top: 10px;
}

#rowDecima{
  margin-top: 10px;
}

#rowOnze{
  margin-top: 10px;
  max-width: 100%;
}

#tabels{
  max-width: 1210px;
  margin-bottom: 100px;
}

.emissaoInput{
  width: 222px;
  height: 58px;
}

#emissaoDescritivo{
  font-size: 14px;
  padding-top: 0;
  padding-left: 2px;
}

.emissaoDiv{
  border-color: gray;
  background-clip: padding-box;
  opacity: .50;
}

.descritivoCadastro{
  text-align: center;
}

#descritivoCadastro{
  margin: 0;
}

.alinhadora{
  position: relative;
}

.selectTotal{
  display: none;
}

textarea{
  display: none;
}

textarea:focus {
  width: 300px;
  height: 300px;
}

tbody{
  border-width: 0;
}

tr{
  min-height: 65px;
  height: 65px;
}

#botao-restaurador{
  margin: 10px;
}

.removedor{
  visibility: hidden;
  padding: 0;
  width: 20px;
  height: 20px;
  float: right;
}

th:hover #botaoId{
  visibility: visible;
}

th:hover #botaoPrioridade{
  visibility: visible;
}

th:hover #botaoPrioridade{
  visibility: visible;
}

th:hover #botaoSetor{
  visibility: visible;
}

th:hover #botaoArea{
  visibility: visible;
}

th:hover #botaoTipo{
  visibility: visible;
}

th:hover #botaoStatus{
  visibility: visible;
}

th:hover #botaoUrgencia{
  visibility: visible;
}

th:hover #botaoDesignado{
  visibility: visible;
}

th:hover #botaoDescrição{
  visibility: visible;
}

th:hover #botaoAcoes{
  visibility: visible;
}

#botao-restaurador{
  margin-bottom: 0;
}

#btnExport{
  margin-top: 10px;
}

#tabela-dentro{
  padding: 0;
  max-height: 100px;
  font-size: 12px;
}

#tabela-dentro #myTable .acoes-botao{
  margin: 1px 0;
  padding: 3px 1px;
  min-width: 20px;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}

.descricao-menu{
  display: none;
}

.sidebar-nav {
    padding: 9px 0;
}

th{
  resize: horizontal;
  overflow: auto;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}


#navbarDropdown:hover{
  color: black;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

#navbarDropdown:hover .descricao-menu{
  display: block;
  border-radius: 0 0 5px 5px;
}

#navbarDropdown{
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
}

.ocultar-menu{
  visibility: hidden;
}

#sanduiche{
  padding: 0;
  font-size: 20px;
}

.navbar-nav a{
  text-decoration: none;
  color: black;
}

.dropdown-menu .sub-menu{
  border-left: 0;
  border-radius: 0 5px 5px 5px;
}

.dropdown-menu li:hover{
  background-color: #C8E3D4;
}

.descritivo-principal{
  padding: 5px;
}

.descritivo-submenu{
  padding-left: 8px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-address-book {
  position: relative;
  padding-left: 35%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-dollar-sign {
  position: relative;
  padding-left: 35%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-shopping-cart{
  position: relative;
  padding-left: 18%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-money-bill-alt{
  position: relative;
  padding-left: 25%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-briefcase{
  position: relative;
  padding-left: 25%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-truck{
  position: relative;
  padding-left: 30%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-chart-pie{
  position: relative;
  padding-left: 30%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-user{
  position: relative;
  padding-left: 35%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-cogs{
  position: relative;
  padding-left: 30%;
  font-size: 24px;
}

.navbar-icon-top .navbar-collapse .navbar-nav .nav-item .nav-link > .fa-phone{
  position: relative;
  padding-left: 30%;
  font-size: 24px;
}

#logo-fibracem{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand{
  margin: 0 30px 0 30px;
  min-width: 15%;
  min-height: 15%;
  max-width: 15%;
  max-height: 15%;
}

#nav-page{
  min-height: 50px;
  min-width: 100%;
  background-color: #22577A;
  padding: 5px 0;
}

.nav-item{
  color: black;
  padding: 0;
}

li.nav-item.dropdown:hover{
  color: black;
  border-radius: 5px 5px;
}

li.nav-item.dropdown{
  border-radius: 5px 5px;
}

.dropdown:hover>.dropdown-menu {
     display: block;
     border-radius: 0 0 5px 5px;
     border-top: none;
     border-left: none;
     padding-left: -1px;
}

.dropdown-menu>.descricao-menu{
  display: block;
}

.dropdown:hover>#navbarDropdown {
  background-color: white;
  color: black;
}

.produto{
 background-color: red;
}

.nav-link{
  color: black;
}

#teste-submenu{
  display: block;
  visibility: visible;
  font: black;
}

.dropdown-item:hover{
  background-color: #C8E3D4;
}

#sidebarCollapse{
  background-color: #89B5AF;
  border-color: #89B5AF;
}

.wrapper ul {
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #22577A;
  text-align: center;
}

.wrapper li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.wrapper li a.active {
  background-color: #22577A;
  color: #22577A;
}

.wrapper li a:hover:not(.active) {
  background-color: white;
  color: white;
}

.wrapper .card-body{
  border-radius: 0;
  border: none;
  padding: 0;
}

.wrapper .dropdown-divider{
  margin: 8px 20% 8px 20%;
}

.wrapper{
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper #sidebar {
    background-color: #22577A;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.wrapper #sidebar.active {
    margin-left: -250px;
}

.wrapper a[data-toggle="collapse"] {
    position: relative;
}

 .wrapper a, .wrapper a:hover, .wrapper a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.wrapper #sidebar {
    background: #22577A;
    transition: all 0.3s;
}

.wrapper #sidebar .sidebar-header {
    padding: 20px;
    background: #22577A;
}

.wrapper #sidebar ul.components {
    border-bottom: 30px solid #22577A;
}

.wrapper #sidebar ul p {
    padding: 10px;
}

.wrapper #sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
}

.wrapper #sidebar ul li a:hover {
    color: black;
    background: #fff;
}

.wrapper #sidebar .wrapper ul .wrapper li.active > .wrapper a, .wrapper a[aria-expanded="true"] {
    color: white;
    background: #22577A;
}
.wrapper ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.wrapper #topSidebar{
  z-index: 1;
  background-color: #22577A;
}

.wrapper .list-unstyled{
  background-color: #297F87;
}

.wrapper #navbar-acima{
  padding-top: 0;
  background-color: #7386D5;
}

.wrapper #navbar-acima2{
  background-color: #22577A;
}

.wrapper #navbar-acima4{
  background-color: #22577A;
  justify-content: flex-end;
}

.wrapper #troca-senha{
  display: none;
}

.wrapper #relatorioSubmenu{
  margin-top: 7px;
}

.wrapper #logo-fibra{
  margin-top: 10px;
}

.wrapper #botoes-top{
  margin-top: 10px;
}
