#rowPrimeira{
  max-height: 200px;
  margin: 10px 50px 0 50px;
}

#rowTerceira{
  margin-bottom: 10px;
}

#segundaRow{
  margin-top: 10px;
}

#rowQuarta{
  margin-top: 10px;
}

#rowSexta{
  margin-top: 10px;
}

#rowSetima{
  margin-top: 10px;
}

#rowOitava{
  margin-top: 10px;
}

.validadeInput{
  width: 222px;
  height: 58px;
}

#validadeDescritivo{
  font-size: 14px;
  padding-top: 0;
  padding-left: 2px;
}

.validadeDiv{
  border-color: gray;
  background-clip: padding-box;
  opacity: .50;
}

.descritivoCadastro{
  text-align: center;
}

#descritivoCadastro{
  margin: 0;
}
